<div class="row">
  <div class="large-12 text-center columns">
    <h2 class="section-header"><%= @category.dish_type %></h2>
  </div>
</div>

<div class="row">
  <div class="large-12 text-center columns">
    <% @category.recipes.each do |recipe| %>
      <div class="row">
        <div class="large-9 columns text-left">
          <h1><%= recipe.dish_name %>:</h1>
        </div>
        <div class="large-3 columns text-center">
          <img src="<%= recipe.pic_link %>" alt="pic of <%= recipe.dish_name %>"/>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="edit-panel" class="large-12 columns text-center">
    <a class="button info" href="/admin/categories/<%= @category.id %>/edit">Edit</a>
    <a class="button warning" href="/admin/categories/<%= @category.id %>/delete">Delete</a>
    <a class="button" href="/admin/recipes">View all</a>
  </div>
</div>
