<h2>Full Recipe:</h2>

<%= @recipe.rating %>/5<h3><%= @recipe.dish_name %></h3>


<% if @recipe.published == false %>
  <p class="published-tag">Not published</p>
<% else %>
  <p class="unpublished-tag">Published</p>
<% end %><br>

<ul>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient.item %><li>
<% end %>
</ul>

<img src="<%= @recipe.pic_link %>"/>
<h4>Instructions:</h4>

<div id="recipe-instructions">
  <%= @recipe.instructions %>
</div>

<p class="date">Added on: <%= (@recipe.created_at).strftime("%D at %I:%M%p") %></p>

<div class="row">
  <div id="edit-panel" class="large-12 columns text-center">
    <a class="button info" href="/admin/recipes/<%= @recipe.id %>/edit">Edit</a>
    <a class="button warning" href="/admin/recipes/<%= @recipe.id %>/delete">Delete</a>
    <a class="button" href="/admin/recipes">View all</a>
  </div>
</div>
