<html>
<head lang='en'>
  <title>Bite-Size Recipes</title>
  <meta name="description" content="Catch the latests simple, cheap and tasty recipes.">
  <meta name="keywords" content="Recipe, Food, Quick, Eats">
  <meta name="author" content="Tim Kellogg and Alisa Colon">
  <link rel='stylesheet' type='text/css' href='http://cdn.foundation5.zurb.com/foundation.css'>
  <script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
  <script src="<%= url('/javascripts/jqueryte.min.js') %>"></script>
  <link rel='stylesheet' type='text/css' href="<%= url('/main.css') %>">
  <link rel='stylesheet' type='text/css' href="<%= url('/jquery-te-1.2.0.css') %>">
  <link rel="stylesheet" type='text/css' href="<%= url('foundation-icons/foundation-icons.css') %>" />
</head>
<body>
  <div id='site-wrapper' class='container'>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">RB</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Portals </a>
            <ul class="dropdown">
              <li><a href="/admin/recipes">Admin</a></li>
              <li class="active"><a href="/">Public</li></a>
            </ul>
          </li>
        </ul>
        <ul class="left">
          <li><a href="/categories">Food Categories</a></li>
          <li><a href="/ingredients">Ingredients</a></li>
        </ul>
      </section>
    </nav>
    <div class="container">
      <% if @message %>
      <div class="row">
        <div class="large-12 text-center columns">
          <p><%= @message %><p>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <script>
    $(document).foundation();
    $("textarea").jqte();
  </script>
</body>
</html>
